<header role="header" class="bg-white bn ba-l bw4-l b--white">
  <section class="w-100 mw7 dt ma0 center">
    <center class="dtc v-mid tl ph4 pv5">
      <div class="rte measure">
        <p class="lh-copy">
          {{ page.content }}
        </p>
      </div>
    </center>
  </section>
</header>
