<header role="header" class="bg-yellow bn ba-l bw4-l b--white">
  <section class="w-100 dt ma0 center">
    <center class="dtc v-mid tl ph4 pv5">
      <h1 class="cursor f1 lh-solid mv1 mv3-ns tracked-tight">{{ page_title }}</h1>
    </center>
  </section>
</header>
