<header role="header" class="bg-yellow bn ba-l bw4-l b--white">
  <section class="w-100 mw7 dt ma0 center">
    <center class="dtc v-mid tl ph4 pv5">
      {% include 'breadcrumbs' %}
      <h1 class="f1 f-subheadline-m f-headline-l lh-title mv1 mv3-ns tracked-tight" data-action="cursor">{{ page.title }}</h1>
    </center>
  </section>
</header>
