<section class="bg-light-green mw7 ma0 center ba bw4 b--white">
  <center class="db ph4 pv5">
    <h1 class="f3 f2-nslh-title measure normal">Ready to Work With Us?</h1>
    <a class="no-underline br-pill ba bw1 ph4 pv3 dib dark-gray hover-green b ttu tracked" href="{{ site.baseurl }}/about.html">Yes</a>
    <a class="no-underline br-pill ba bw1 ph4 pv3 dib mid-gray hover-light-red b ttu tracked" href="{{ site.baseurl }}/about.html">No</a>
  </center>
</section>
