{% layout 'default' %}

  <header class="z-max fixed top bg-white ba bw4 b--white w-100 flex flex-wrap justify-between items-baseline">
    {% section 'site-menu' %}
    {% section 'site-tools' %}
  </header>
  <main role="main" id="MainContent" class="w-100 pt4">
    {% if template.name == 'index' %}
      {% section 'banner' %}
      {% elsif template contains 'collection' and collection.handle %}
      {% include 'collection-header' %}
      {% else %}
      {% include 'page-header' %}
    {% endif %}
    {{ content_for_layout }}
    {% section 'blockquote' %}

    <section class="bg-light-green mw7 ma0 center ba bw4 b--white">
      <center class="db ph4 pv5">
        <h1 class="f3 f2-nslh-title measure normal">Ready to Work With Us?</h1>
        <a class="no-underline br-pill ba bw1 ph4 pv3 dib dark-gray hover-green b ttu tracked" href="{{ site.baseurl }}/about.html">Yes</a>
        <a class="no-underline br-pill ba bw1 ph4 pv3 dib mid-gray hover-light-red b ttu tracked" href="{{ site.baseurl }}/about.html">No</a>
      </center>
    </section>

    <section class="dt-ns w-100 near-white bg-near-black center bn ba-l bw4-l b--white" id="location">
      <center class="db dtc-ns ph4 ph5-l pv5 pv6-l">
        <h2 class="cursor f4 f3-ns mv0 lh-title tracked-tight wow animated fadeInDown">{{ shop.name }}</h2>
        <address class="fs-normal mv4 wow animated fadeInUp">
          <label class="db mv1 tracked silver b ttu"><small>Contact</small></label>
          <ul class="list pa0 mv0 lh-copy">
            <li><a class="link underline-hover mid-gray" href="mailto:hello@studiocraft.cc"><abbr title="Email" aria-hidden="true"><i class="fa fa-fw fa-envelope"></i></abbr>hello@studiocraft.cc</a></li>
            <li><a class="link underline-hover mid-gray" href="tel:13472211926"><abbr title="Phone"><i class="fa fa-fw fa-phone" aria-hidden="true"></i></abbr>(347) 221-1926</a></li>
            <li><a class="link underline-hover mid-gray" href="https://goo.gl/maps/ePAZK239wrC2" target="_blank"><abbr title="Location"><i class="fa fa-fw fa-globe" aria-hidden="true"></i></abbr>Brooklyn, NY</a></li>
          </ul>
        </address>
      </center>
      <center class="dn dtc-ns w-100 w-50-ns relative">
        <div id="map" class="absolute absolute--fill wow animated fadeIn" style="background-color:transparent"></div>
      </center>
    </section>

  </main>
